@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");

:root {
  --primary: #daddf0;
  --secondary: #cecdcd;
  --error: #ff4a4a;
}

/* #######################
  BASE STYLES
####################### */

body {
  color: var(--secondary);
  background-color: black;
  margin: 0;
}

/* #######################
  HEADER STYLES
####################### */

.header-container img {
  width: 100%;
  max-height: 100%;
}

.header-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  opacity: 0;
  animation: header-fade-in ease-in 3s forwards;
}

.header-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  animation: header-fade-out ease-out 3s forwards;
}

.quote {
  font-family: "Birthstone";
  color: antiquewhite;
  margin-top: 10px;
  margin-bottom: 0;
}

/* #######################
  GALLERY CONTAINER STYLES
####################### */

.gallery-container {
  transform: translateY(-7px);
  background-image: url("../public/BodyBackground.jpg");
  background-size: contain;
  background-repeat: repeat;
  padding: 10%;
}

/* #######################
  UPLOAD FORM STYLES
####################### */

form {
  margin: 30px auto 10px;
  text-align: center;
  font-family: "Dancing Script";
}

.category label {
  padding-bottom: 1%;
}

.category select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.new-category input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.story-box {
  padding-top: 3%;
  padding-bottom: 3%;
}

.story-label {
  padding-bottom: 3%;
}

.story-box textarea {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.file-upload {
  height: 0;
  width: 0;
  opacity: 0;
}

.category {
  margin-bottom: 1%;
}

.new-category input {
  display: inline-block;
  position: relative;
  text-align: center;
  border-color: var(--primary);
  border-radius: 5px;
  margin-bottom: 1%;
}

.upload-buton label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
label {
  display: block;
  margin-bottom: 10px;
  font-size: 2em;
}

.upload {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

.upload:hover {
  background: var(--primary);
  color: black;
}

.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--error);
}

/* #######################
  PROGRESS BAR STYLES
####################### */

.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* #######################
  MODAL STYLES
####################### */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 950;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.modal-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  color: #ccc;
  font-size: 1em;
}

/* #######################
  FOG STYLES
####################### */

.fog-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: 9000;
  overflow: hidden;
}

.fog-min {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  z-index: 9000;
  overflow: hidden;
  animation: fog-fade-out ease-out 5s forwards;
}

.fog-in {
  height: 100%;
  opacity: 0;
  animation: fog-fade-in ease-in 3s forwards;
}

.fog-out {
  height: 100%;
  opacity: 0.5;
  animation: fog-fade-out ease-out 5s forwards;
}

/* #######################
  CAROUSEL STYLES
####################### */

.mySwiper {
  margin-bottom: 10%;
}

.slide-outer {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.slide-inner {
  max-width: 500px;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.img-slide {
  max-width: 100%;
  height: auto;
}

/* #######################
  ANIMATIONS
####################### */

@keyframes header-fade-in {
  50% {
    font-size: 2em;
  }
  100% {
    opacity: 1;
    font-size: 2em;
  }
}

@keyframes header-fade-out {
  50% {
    font-size: 3em;
  }
  100% {
    opacity: 0;
    font-size: 3em;
  }
}

@keyframes fog-fade-in {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fog-fade-out {
  0% {
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

/* #######################
  MEDIA QUERIES
####################### */

@media screen and (max-width: 992px) {
  form {
    margin-top: 100%;
  }

  .img-display {
    margin-top: 100%;
  }
}

@media screen and (max-width: 400px) {
  form {
    margin-top: 200%;
  }
  .img-display {
    margin-top: 150%;
  }
}
