.body {
  min-height: 100vh;
  height: 100vh;
  background-image: url("../public/loginPattern.jpg");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

.signOut {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
